venv
# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.pyd
*.db
*.sqlite3
*.log

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3

# Environment
.env
.venv/
venv/
ENV/
env/
venv.bak/

# IDEs
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db
